<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>yatta</title>
  <style>
    *{
      background-color: '00FF00';
    }
  </style>
</head>
<body>
  <h1> You got it correct</h1>
  <h1> {{lang}}</h1>
  <h2>The correct answer is {{realAnswer}} :)</h2>
  <form action="/" method="get">
    <p>Want to try again?</p>
    <input type='submit'>
  </form>
</body>
</html>