<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn</title>
</head>
  <style>
    h1 {
      text-align: center;
    }
  </style>
<body>
  <h1>Learn Language</h1>
  <h2>{{languageQuote}}</h2>
<!--   action="/greet" will sent the user their -->
  <form action="/answer" method="get">
    <input autofocus autocomplete="off" name='answer' placeholder='Type your answer in english' type="text">
    <input type='submit'>
  </form>
  
<!--   <form method="get" action="/">
    <input type="submit" placeholder="skip">
  </form> -->
</body>
</html>